:root {
    --nav-height: 100px;
}

nav {
    height: var(--nav-height);
    background-color: #2c3e50;
}

header{
    margin-top: var(--nav-height);
}

header,
.about {
    /* height: 500px; */
    background-color: #1abc9c;
}

header img {
    width: 200px;
    height: 200px;
}

.line{
    height: 5px;
    border-radius: 10px;
}

header .line {
    width: 15%;
    background-color: white;
}

#portfolio .line {
    width: 15%;
    background-color: #2c3e50;
}

#portfolio .star {
    color: #2c3e50;
}

.cabin,
.cake,
.circus,
.game,
.safe,
.submarine {
    /* border-radius: 24px; */
}

.cabin {
    background-color: #ba4b63;
    border-radius: 24px;
}

.cake {
    background-color: #1ea4b6;
}

.tent {
    background-color: #140f0f;
}

.pad {
    background-color: #1c83c1;
}

.safe {
    background-color: #0e38b5;
}

.submarine {
    background-color: #ccb2a3;
}

main img {
    width: 100%;
}

.btn {
    width: 100px;
}

.form {
    width: 340px;
    height: 500px;
}

.info {
    text-align: center;
    background-color: #3a546d;
}

.title3 {
    width: 100px;
}

.copyright {
    background-color: #2c3e50;
}